body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(../images/slider.jpg);
    padding: 250px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.skill-space{
    padding: 70px 0;
}